<div class="content">
  <div class="container">
    <h1>Dr. Inx</h1>
    <h3>Property of Vidar and Svante Nilestam</h3>
    <h6>the pink drinx that Dr Inx drinx 4 kix</h6>
    <%= link_to "Create new cocktail", new_cocktail_path, class: "btn btn-primary" %>
    <br><br>
    <div class="d-flex drinks-container">
      <% @cocktails.each do |cocktail| %>
      <!-- NEED SOME HELP HERE WITH THE linking to image -->
      <div class="card cocktail-card" style="background-image: url('<%= cocktail.photo %>');"><%= link_to cocktail.name, cocktail_path(cocktail) %></div>
      <% end %>
    </div>
  </div>
</div>

